#menuPrincipal{
    float: left;
    width: 15%;  
}
#contenido{
    /*background-color: chocolate;darle colorde fondo*/
    float: left;
    width: 20%;
    margin: 10px;
    padding:  5px  20px ; 
    

}
#lateral{
    float: left;
    width: 24%;
    margin: 10px;
    padding:  5px  20px ; 
}

#pie{
   clear: both;
   
}