

#cabecera{
    border-width: 3px;
    border-color: brown;
    border-style: groove;
    border-radius: 100%
}

.cabeceratipins{
    border-width: 3px;
    border-color: brown;
    border-style: groove;
    border-radius: 100%;
}

section h1{
    text-align: center;
    color: aquamarine;
    font-family: fantasy;
}

h2{
    color: currentColor;
    font-family: cursive;
}

h3{
    color: aqua;
    font-family: sans-serif; 
    text-transform: uppercase;
}



#bodyindex{
    background-attachment: fixed;
    background-position: 25%;
    background-repeat:space;
    background-repeat: repeat;
    background-image: url("../images/fondo1.jpg");
    background-size: 40%;  
}
.body{
    background-attachment: fixed;
    background-position: 25%;
    background-repeat:space;
    background-repeat:repeat;
    background-image: url("../images/fondo1.jpg");
    background-size: 40%;  
}



.imgcentrada{
    display:block;
    margin:auto;
    border-radius: 150px;
    width: 400px;
    height: 400px;
}


#menuPrincipal{
    border-width: 3px;
    border-color: brown;
    border-style: groove;
    border-radius: 15%;
    background-color: chocolate;
    line-height: 35px;
}
#contenido{
    /*background-color: chocolate;*/
    float: left;
    border-width: 3px;
    border-color: brown;
    border-style: groove;
    border-radius: 12%;
    width: 50%;
    margin: 10px;
    padding:  5px  20px ; 


}

#pie{
    border-width: 3px;
    border-color: brown;
    border-style: groove;
    border-radius: 25%;
    clear: both;
}

.imagenlogoindex{

    width: 700px;
    height: 200px;
    display:block;
    margin:auto;
}

.imagenlogotipoins{

    width: 500px;
    height: 400px;
    display:block;
    margin:auto;
    border-radius: 100%;
}



article p{
    text-align: justify;
    font-family: segoe print, blog script, 'Homer Simpson',arial,cursive;
    font-weight: 700;
}




section ul li{
    font-size: x-large;
    font-family: sans-serif;
}

article ol li{
     font-size: x-large;
    font-family: tekton, dakota,cursive;
}

table{
    border: red 5px solid;
   
}